/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #efefef;
}

h1{
    color: rebeccapurple;

} */
#navmenu>li{
    display: inline;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
}
#main{
    border-width: 2px;
    border-style: solid;
    border-color: gray;
}

.active { color: red; font-weight: bolder; }