<header class="blog-header py-3" id="header">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">

            <a class="text-muted" ui-sref="profile" ui-sref-active="active"> <i class="far fa-user"></i> Profile</a>
        </div>
        <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" ui-sref="community" ui-sref-active="active"><i class="far fa-newspaper"></i> Community</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-secondary" ui-sref="logout">Logout</a>
        </div>
    </div>
</header>

<div class="header animated fadeInLeft medium">
    <h2 class="centre">Welcome {{userDetails.email}}</h2>
    <p>Here are all the snaps you posted!!!</p>
    <a ui-sref="add-snap" class="addSnap">
        ADD SNAP <i class="fa fa-plus-circle"></i>
    </a>
</div>
<div class="row animated fadeInLeft slow" style="margin-top: 1rem">
    <div class="col-md-6 col-lg-4 m-auto" ng-repeat="x in imagePath">
        <div class="card-group " >
            <div class="card card-body mb-3 shadow" >
                    <!-- <div class="">Header</div> padding: .75rem .35rem; background: #777; font-size: 1.2rem;-->
                <img class="card-img-top" ng-src={{x.path}} alt={{x.title}}>
                <div class="card-body">
                    <h5 class="card-title">{{x.title}}
                        <a class="share-image" href={{x.path}} target="_blank"><i class="fas fa-share-alt"></i></a>
                    </h5>
                    <p class="card-text">{{x.description}} </p>
                    <p class="card--footer">On {{x.createdAt| date}}  
                        <a class="delete-post" data-toggle="tooltip" data-placement="bottom" title="Delete Snap" ng-click="deletePost(x._id)">
                            <i class="far fa-trash-alt"></i>
                        </a> 
                        <span ng-if=!x.communityFlag >Private</span> 
                    </p>
            </div>
            </div>
        </div>
    </div>
</div>
<span class="add-snap animated fadeInRight slow">
    <a ui-sref="add-snap" data-toggle="tooltip" data-placement="bottom" title="Add Snap">
        <i class="fa fa-plus-circle"></i>
    </a>
</span>