<div>
    <h1>register page</h1>
    {{msg}}
</div>

<form name="registerForm" ng-submit="callRegister()">
<table>
    <tr>
    <td><label>Email</label></td>
    <td><input type="text" placeholder="abc@gmail.com" ng-model="email" name="email"/></td>
    <td><span ng-show="registerForm.email.$touched && registerForm.email.$invalid && registerForm.email.$error['required']" class="error">email can't be empty!</span></td>
</tr>
    <tr>
        <td><label>Password</label></td>
        <td><input type="password" placeholder="Password" ng-model="password" name="password"/></td>
        <td><span ng-show="registerForm.password.$touched && registerForm.password.$invalid && registerForm.password.$error['required']" class="error">Password can't be empty</span></td>
    </tr>

    <tr>
        <td><button type="submit">register</button></td>
        <td><button>Clear</button></td>
    </tr>
</table>
</form>